#screen {
  border-style: solid;
  border-width: 5px;
}

#optionarea {
  font-size: 16px;
}

select {
    border: 1 none;
    background: transparent;
    font-size: 20px;
    font-weight: bold;
    padding: 2px 10px;
    width: 150px;
}
